@use "../ulu";
@use "../vars";
@use "../css-vars";

:root {
  @include ulu.cssvar-declare-all(css-vars.$defaults);
  --ulu-sticky-top-offset: #{ ulu.cssvar-use("sticky-offset-top") };
  &.fullscreen-layout {
    @include ulu.cssvar-declare("header-height", 3.75rem);
  }
  @include ulu.cssvar-declare-breakpoint();
}
html {
  scroll-padding-top: 6rem;
}
body {
  height: 100%;
  margin: 0;
}
[disabled],
:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
button[disabled] {
  pointer-events: none;
}
