@use "../vars";
@use "@ulu/frontend/scss" as ulu; 

$max-width-large:        110rem;
$max-width:              100rem;
$max-width-small:        70rem;
$max-width-smallest:     50rem;
$margin:                 6rem;
$margin-small:           2rem;
$margin-responsive:      3vw;
$header-padding:         6rem;
$margin:                 5rem;
$margin-small:           2rem;

@include ulu.layout-set((
  "z-index-above": 450 // Below Drupal toolbar
));

// Setup Containers
@function container(
  $ends: 6rem, 
  $ends-small: 3rem, 
  $max-width: $max-width,
  $sides: $margin,
  $sides-small: $margin-small,
) {
  @return (
    "max-width": $max-width,
    "padding": ($ends $sides),
    "responsive" : false, // vars.$margin-responsive,
    "breakpoints" : (
      "small" : (
        "direction" : "max",
        "padding": ($ends-small $sides-small)
      ),
    )
  );
}
@include ulu.layout-set-containers((
  "container" : container(),
  // Used for headers and things that go full width
  "container-full" : container(
    $ends: 0, 
    $ends-small: 0,
    $max-width: null
  ),
  "container-fill" : container(
    $sides: 0, 
    $sides-small: 0,
    $max-width: null
  ),
  "container-fit" : container(
    $ends: 0, 
    $ends-small: 0
  ),
  "container-small" : container(
    $ends: 3rem, 
    $ends-small: 3rem, 
    $max-width: $max-width-small
  ),
  "container-small-fit" : container(
    $ends: 0, 
    $ends-small: 0, 
    $max-width: $max-width-small
  ),
  "container-small-x" : container(
    $max-width: $max-width-smallest
  ),
  "container-small-x-fit" : container(
    $ends: 0, 
    $ends-small: 0, 
    $max-width: $max-width-smallest
  ),
  "container-large" : container(
    $max-width: $max-width-large
  ),
));